.media-controls {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95); /* Light background */
  border: none;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); /* Soft shadow */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  max-width: 350px; /* Limit width */
}

.media-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.media-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.media-button {
  background-color: rgba(0, 123, 255, 0.1); /* Light blue background */
  border: none;
  border-radius: 50%; /* Circular buttons */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  padding: 0; /* Remove any extra padding */
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box; /* Ensure padding doesn’t add to button size */
}

.media-button:hover {
  background-color: #007bff; /* Blue background on hover */
  .button-icons {
    color: white; /* White text on hover */
  }
}

.button-icons {
  color: #007bff; /* Blue color for icons */
  font-size: 24px;
}

.play-button .button-icons {
  background: linear-gradient(to bottom left, #00c49a, #007bff); /* Gradient for play button */
  border-radius: 50%;
  padding: 17px; /* Increase padding slightly for balance */
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow on play button */
}

.play-button:hover {
  background-color: transparent; /* Prevent hover color from showing behind */
}

.button-text {
  color: #007BFF;
  font-size: 12px;
  margin-top: 5px;
}

.media-progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.progress-bar-wrapper {
  background-color: rgba(0, 0, 0, 0.1); /* Light background for the progress bar */
  border-radius: 5px;
  height: 6px;
  flex-grow: 1;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  background: linear-gradient(to right, #00c49a, #007BFF); /* Gradient for progress bar */
  height: 100%;
  width: 50%; /* Update based on time progress */
  border-radius: 5px;
}

.progress-time-current,
.progress-time-total {
  font-size: 14px;
  color: #007BFF;
}

.audio-player {
  max-width: 500px;
  margin: 0 auto;
}
